     <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/media.css">
    <link rel="stylesheet" href="/style/register.css">
 <%-include('partials/header')%>
    <main>
        <div class="loading">
            <div class="center">
                <img src="/photos/logoanim.png" alt="logo" width="300px">
            </div>
        </div>
        <header>
            <div class="logo"><img src="/photos/logo.png" alt="logo" width="130px"></div>
            <nav>
                <div class="div">
                    <a href="/index.ejs" class="active">
                        <i class="fa-regular fa-comment"></i>
                        <p>Discussion</p>
                    </a>
                </div>
                <div class="div">
                    <a href="/archive">
                        <i class="fa-solid fa-box-archive"></i>
                        <p>Archives</p>
                    </a>
                </div>
                <div class="div">
                    <a href="/profil">
                        <i class="fa-solid fa-user-pen"></i>
                        <p>Profil</p>
                    </a>
                </div>
                <div class="div">
                    <a href="/groupe">
                        <i class="fa-solid fa-people-line"></i>
                        <p>Groupe</p>
                    </a>
                </div>
            </nav>
        </header>
        
        <section class="contents">
            <div class="center" id="center">
                <div class="top">
                    <h1>Chat</h1>
                    <div class="input">
                        <input type="text">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="enligne">
                    <h2>En ligne</h2>
                    <div class="online-list">
                        <% onlineUsers.forEach(user => { %>
                        <div class="box">
                            <div class="img">
                                <img src="" alt="">
                                <p><%= user.username %></p>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="allchat">
                    <h2>Tous les Utilisateurs</h2>
                    <div class="boxs">
                        <% users.forEach(user => { %>
                        <div class="box">
                            <div class="profil">
                                <img src="" alt="">
                                <div class="nom">
                                    <p class="nom"><%= user.username %></p>
                                    <p class="prenom"><%= user.status %></p>
                                </div>
                            </div>
                            <div class="right">
                                <div class="date"><%= user.contact %></div>
                                <div class="vu_ou_non"></div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="chat">
                <div class="header">
                    <div class="left">
                        <img src="" alt="">
                        <div class="text">
                            <p class="nom prenom"></p>
                            <p class="status"></p>
                        </div>
                    </div>
                    <a href="" class="telephone"><i class="fa-solid fa-phone-flip"></i></a>
                </div>
                <div class="message" id="message">
                    
                </div>
                <form action="" method="post" id="formEnvoy">
                    <input type="text" placeholder="Ecrire" required id="Message">
                    <button type="submit">Envoyer</button>
                </form>
            </div>
        </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const form = document.querySelector('#formEnvoy');
        const messageInput = document.getElementById('Message');
        const bodychat = document.getElementById('message');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            if ( messageInput.value !== "") {
                const data = {
                    message: messageInput.value,
                    date:new Date().toLocaleDateString()
                };
                socket.emit('chat', data);
                messageInput.value = "";
                messageInput.focus()
            }
        });
        
        socket.on('chat', (data) => {
            const p = document.createElement('p');
            p.classList.add('boxsms')
            p.innerHTML = `<span class="boxsms"><b>${data.date}</b>: ${data.message}</span>`;
            bodychat.appendChild(p);
            bodychat.scrollTop = bodychat.scrollHeight;
        });
    </script>
 <%-include('partials/footer')%>
 